#alert-button{
    all:initial;
    cursor: pointer;
    float: none;
    position: absolute;
    right: 10px;
    top:50%;
    margin-top: -10px;
}

#alertPanel{
    margin: auto;
}

.canvas-container {
    position: relative;
    width:100%;
    height: 500px;
  }
  
  #canvas {
    position:relative;
    height: 500px;
    width:100%;
  }

 .sidebar{
    /* display: inline-block; */
    width: 20%;
}   

#content{
    display: inline-block;
    width: 80%;
} 
.container_rb {
  /* display: inline-block; */
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 80%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}